window {
	background-color: rgba(0, 0, 0, 0.5)
}

button {
	border: none;
	margin: 10px;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center
}

button:hover {
    background-size: 35%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
	box-shadow: 0 0 10px 5px rgba(62, 21, 198, 0.3)
}

#logout {
    background-image: image(url("/home/aelis/.local/share/icons/wlogout/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	background-color: rgba(95, 66, 181, 0.9);
	border-radius: 150px;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-left: 258px
}

#suspend {
    background-image: image(url("/home/aelis/.local/share/icons/wlogout/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
	background-color: rgba(95, 66, 181, 0.9);
	border-radius: 150px;
	margin-top: 150px;
	margin-bottom: 150px
}

#shutdown {
    background-image: image(url("/home/aelis/.local/share/icons/wlogout/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	background-color: rgba(95, 66, 181, 0.9);
	border-radius: 150px;
	margin-top: 150px;
	margin-bottom: 150px
}

#reboot {
    background-image: image(url("/home/aelis/.local/share/icons/wlogout/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	background-color: rgba(95, 66, 181, 0.9);
	border-radius: 150px;
	margin-top: 150px;
	margin-bottom: 150px;
	margin-right: 258px
}

#logout:hover, #suspend:hover, #shutdown:hover, #reboot:hover {
    background-color: rgb(108, 70, 199)
}