/* General settings */
* {
    border-radius: 15px;
    font-family: "Maple Mono";
    transition: text-shadow 0.3s ease-in-out
}

/* Bar background */
window#waybar {
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.35)
}

/* Module tooltips */
tooltip {
    font-size: 15px;
    border-width: 2px;
    border-color: #c75583;
    background-color: rgba(0, 0, 0, 0.4)
}

/* ------------------------ Left modules ------------------------ */

/* Cat launcher */
#custom-applauncher {
    font-size: 30px;
    margin-left: 16px;
    margin-right: 15px
}

#custom-applauncher:hover {
    text-shadow: 0 0 5px #ffffff
}

/* Heart shaped */
#workspaces button {
    color: #a8c5da;
    border: none;
    font-size: 22px;
    box-shadow: none;
    margin-right: 2px;
    text-shadow: 0 0 6px #e22865
}

#workspaces button.active {
    color: #f98bb7
}

#workspaces button:hover {
    color: #faaecd;
    background: none
}

/* ----------------------- Center modules ----------------------- */

/* Star separator */
#custom-star {
    color: #f98bb7;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 12px;
    margin-bottom: 1px;
    text-shadow: 0 0 8px #e22865
}

#clock {
    font-size: 17.5px;
    font-style: normal
}

/* ----------------------- Right modules ------------------------ */

/* Volume mixer */
#pulseaudio {
    margin-right: 14px
}

#pulseaudio:hover {
    text-shadow: 0 0 5px #ffffff
}

#network {
    margin-right: 7px
}

#network:hover {
    text-shadow: 0 0 5px #ffffff
}

#bluetooth {
    font-size: 23px;
    margin-left: 7px
}

#bluetooth:hover {
    text-shadow: 0 0 5px #ffffff
}

/* System monitor */
#custom-heartbeat {
    margin-left: 3px;
    margin-right: 7px
}

#custom-heartbeat:hover {
    text-shadow: 0 0 5px #ffffff
}

#battery {
    font-size: 22px;
    margin-left: 7px;
    margin-bottom: 2px
}

/* Good state */
#battery.good:hover {
    text-shadow: 0 0 6px #00e636
}

/* Warning state */
#battery.warning:hover {
    text-shadow: 0 0 6px #ffe600
}

/* Critical state */
#battery.critical:hover {
    text-shadow: 0 0 6px #e22865
}

#custom-poweroff {
    font-size: 33px;
    font-style: normal;
    margin-left: 5px;
    margin-right: 16px
}

#custom-poweroff:hover {
    text-shadow: 0 0 5px #ffffff
}